<!-- hero-section.component.html -->
<section class="about-section" style="background-color: #f3ecec">
  <div class="container-fluid p-5">
    <div class="row d-flex align-items-center justify-content-between">
      <!-- Left Content -->
      <div class="col-lg-12 col-md-12 mb-3">
        <h2 class="text-center">Arya's BMS & IA Training Institute</h2>
        <div
          class="my-4 d-flex flex-wrap justify-content-around  button-container col-12"
        >
          <div class="button-div">
            <button
              class="text-body-secondary"
              [ngClass]="{ 'active-button': activeContent === 'facilities' }"
              (click)="showContent('facilities')"
            >
              Facilities
            </button>
          </div>
          <div class="button-div">
            <button
              class="text-body-secondary"
              [ngClass]="{ 'active-button': activeContent === 'unique' }"
              (click)="showContent('unique')"
            >
              What's Unique
            </button>
          </div>
          <div class="button-div">
            <button
              class="text-body-secondary"
              [ngClass]="{ 'active-button': activeContent === 'educational' }"
              (click)="showContent('educational')"
            >
              Educational Structure
            </button>
          </div>
        </div>

        <!-- Institute Content -->
        <div *ngIf="activeContent === 'facilities'" class="text-left">
          <p>Facilities:</p>
          <ul>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>State-of-the-art
              Equipment: Access to industry-standard BMS machines and tools for
              hands-on training.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Well-equipped
              Training Rooms: Spacious and fully equipped classrooms for
              practical learning and theory sessions.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Modern Labs: Fully
              functional BMS labs to simulate real-world building management
              systems.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Study Materials:
              Comprehensive course materials, including manuals, handouts, and
              online resources.
            </li>
          </ul>
        </div>

        <!-- Founder Content -->
        <div *ngIf="activeContent === 'unique'">
          <p>What's Unique about us:</p>
          <ul>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i
              >Industry-Experienced Trainers: Learn from experts with over 15
              years of real-world BMS experience.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Hands-on Learning:
              Gain practical experience with actual BMS systems and equipment.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Small Batch Sizes:
              Personalized attention and focused training for each student.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Placement Support:
              Access to our strong network of partner companies for internships
              and job placements.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Affordable Fees:
              High-quality training at minimal cost, making it accessible for
              all.
            </li>
          </ul>
        </div>

        <!-- Mission Content -->
        <div *ngIf="activeContent === 'educational'">
          <p>Educational Structure:</p>
          <ul>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i
              >Industry-Experienced Trainers: Learn from experts with over 15
              years of real-world BMS experience.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Hands-on Learning:
              Gain practical experience with actual BMS systems and equipment.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Small Batch Sizes:
              Personalized attention and focused training for each student.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Placement Support:
              Access to our strong network of partner companies for internships
              and job placements.
            </li>
            <li>
              <i class="bi bi-chevron-double-right mx-2"></i>Affordable Fees:
              High-quality training at minimal cost, making it accessible for
              all.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
