<!-- hero-section.component.html -->
<section
  class="about-section d-flex p-5 "
  style="background-color: #f3ecec"
>
  <div class="container-fluid p-5 ">
    <div class="row d-flex align-items-center justify-content-between ">
      <!-- Left Content -->
      <div class="col-lg-8 col-md-12 mb-3 text-left r">
        <h2>Arya's BMS & IA Training Institute</h2>
        <div
          class=" my-4 d-flex flex-wrap justify-content-between button-container col-10 "
        >
          <div class="button-div">
            <button class="text-body-secondary">Institute</button>
          </div>
          <div class="button-div">
            <button class="text-body-secondary">Founder</button>
          </div>
          <div class="button-div">
            <button class="text-body-secondary">Mission</button>
          </div>
          <div class="button-div">
            <button class="text-body-secondary">Vision</button>
          </div>
        </div>
        <div>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
            animi debitis ut voluptatum totam temporibus harum a eius velit
            nemo, ad ex aliquam dolorem? Magnam fugiat saepe ratione ipsa error,
            minima suscipit veniam libero autem laboriosam nostrum aspernatur ex
            ad.
          </p>
        </div>
      </div>

      <!-- Right Image -->
      <div class="col-lg-3 col-md-12 text-center ">
        <div class="div1"></div>
        <div class="div2"></div>
      </div>
    </div>
  </div>
</section>
