
.div1{
    width: 100px;
    height: 100px;
    background-color: red;
}

.div2{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 34);
}

.button-div button{
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.active-button {
    background-color: #ff9800; /* or any color of your choice */
    color: white;
  }

  li{
    list-style: none;
  }