<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
      <div class="row">
        <!-- Column 1: Company Name and Description -->
        <div class="col-md-3">
          <a href="#" class="text-white h4">Company Name</a>
          <p class="mt-2">Short description about the company. A brief overview of what we do and our values.</p>
        </div>
        
        <!-- Column 2: Contact Us -->
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <p><strong>Address:</strong> 1234 Street Name, City, Country</p>
          <p><strong>Phone:</strong> +1 234 567 890</p>
        </div>
        
        <!-- Column 3: Social Media -->
        <div class="col-md-3">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Facebook</a></li>
            <li><a href="#" class="text-white">Twitter</a></li>
            <li><a href="#" class="text-white">Instagram</a></li>
          </ul>
        </div>
        
        <!-- Column 4: Quick Links -->
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Products</a></li>
            <li><a href="#" class="text-white">Gallery</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
      </div>
      
      <!-- Footer Bottom -->
      <div class="row mt-4">
        <div class="col-12 text-center">
          <p>&copy; 2025 Company Name. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  